body{
background-color: #8b938b;
font-size: 14px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: #ffff
}


.main {
    display: flex;
  } 

section{
    display: flex;
    flex-direction: column;
}

    


article{
    flex: 9;
}
article:nth-of-type(2) {
    flex: 3;
  }
  .flexContainer {
    display: flex;
    background-color:#8b938b;
  }

  .flexGrowContainer{
    display: flex;
    margin-left:  110px;
    margin-right: 110px;
    align-items: stretch;
    background-color: rgb(130, 123, 123);
  }

  .flexGrowContainer1{
    display: flex;
    margin-left:  110px;
    margin-right: 110px;
    align-items: stretch;
    background-color: rgb(130, 123, 123);
  }
h1{
    
    color: #8f1919;
    font-size: 16px;
    text-align: center;
    border-bottom: 5px solid #8f1919;
    text-transform:uppercase 
}

a{
color: #8f1919;
}

a:hover {
    color: #2853c8;
  }

img{
    border: solid red 1px;
    opacity: 0.5;
    padding: 10px;
    width: 250px;
}



