body{
background-color: #656b65;
font-size: 14px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: #ffff
}


.main {
    display: flex;
  } 

section{
    display: flex;
    flex-direction: column;
}
sidebar{
    margin: 10px;
    background-color: rgb(56, 127, 181);
    min-width: 200px;
    
}

article{
    flex: 1;
}
article:nth-of-type(2) {
    flex: 3;
  }
  .flexContainer {
    display: flex;
    background-color: bisque;
  }

  .flexGrowContainer{
    display: flex;
    align-items: stretch;
    background-color: blueviolet;
  }

h1{
    
    color: #8f1919;
    font-size: 16px;
    text-align: center;
    border-bottom: 5px solid #8f1919;
    text-transform:uppercase 
}

a{
color: #8f1919;
}

a:hover {
    color: #2853c8;
  }

img{
    border: solid red 1px;
    opacity: 0.5;
    padding: 10px;
    width: 250px;
}



